#galleryBody 
{
    background: #262626;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container 
  {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .swiper-slide 
  {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #fff;
  }
  .header {
    width: 100%;
    height: 500px;
    background-image: url("https://i.imgur.com/00hcvQf.jpg");
    background-size: cover;
  }
  #homebg
  {
      background: #262626;
      color: #fff;
  }
  .footer 
  {
    height: 150px;
    width: 100%;
  }
  .flex-item 
  {
    display: flex;
    justify-content: center;
  }
  #contactpage
  {
    margin:0;
    padding: 0;
    background: url("https://i.imgur.com/00hcvQf.jpg");
    background-size: cover;
  }
  .contact-form
  {
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat", sans-serif;
  }
  .contact-form h1 {
    margin-top: 0;
    font-weght: 200;
  }
  .txtb {
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
  }
  .txtb label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  .txtb input, .txtb textarea 
  {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
  }
  .btnc 
  {
    display: inline-block;
    padding: 14px 0;
    color: #fff !important;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
  }
  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
}